body {
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    width: 50%;
    background-color:lightyellow;
}

h1 {
    color: forestgreen;
}

.table {
    margin-left:auto;
    margin-right: auto;
    width:30%;
}

