
<head runat="server">
    <title></title>
    
</head>
<html>
<body>
    <h1>Elk Logistics Rewards System</h1>
    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
            
        </asp:ContentPlaceHolder>
    </div>
    </form>
    <br />
    <br />
    <br />
    <footer>
        <p>Kyle McGill</p>
    </footer>
</body>
    
</html>
